$color-blue: #6cc0e5;
$color-red: #fb4f4f;
$color-yellow: #fbc93d;
$color-gray: #35495e;
$color-gray1: #5f6c72;
$color-gray2: #e1e4e5;
$color-white: #f9fafc;
$color-offwhite: #fbfbfb;

$spacing-lg: 30px;
$spacing-med: 15px;
$spacing-sm: 10px;
$spacing-xs: 5px;


$font-size-lg: 30px;
$font-size-med: 24px;
$font-size-sm: 18px;
$font-size-xs: 14px;

$border-small: 5px;

$box-shadow-default: 0 3px 9px 0 rgba(55, 71, 79, 0.2);
$border-radius-default: 5px;